$white: #fff;
$black: #000;
$background: #f2f2f2;
$primary: #0e4388;
$primaryDark: #002256;
$primaryLight: #4787bc;
$disabledBackground: #ccc;
$disabledColor: #666;
$valid: #4caf50;
$invalid: #ef5350;
